USE [master]
GO
/****** Object:  Database [DW-Planta]    Script Date: 28/7/2020 23:41:55 ******/
CREATE DATABASE [DW-Planta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW-PlantAndHealth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER2019\MSSQL\DATA\DW-PlantAndHealth.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DW-PlantAndHealth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER2019\MSSQL\DATA\DW-PlantAndHealth_log.ldf' , SIZE = 7616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW-Planta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW-Planta]
GO
/****** Object:  Table [dbo].[D_CLIENTE]    Script Date: 28/7/2020 23:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CLIENTE](
	[id_cliente] [nvarchar](50) NOT NULL,
	[nombre_cliente] [nvarchar](50) NULL,
	[edad] [int] NULL,
	[estado_civil] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_PRODUCTO]    Script Date: 28/7/2020 23:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_PRODUCTO](
	[id_producto] [nvarchar](50) NOT NULL,
	[nombre_producto] [nvarchar](50) NULL,
	[familia_producto] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_SUCURSAL]    Script Date: 28/7/2020 23:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SUCURSAL](
	[id_sucursal] [int] NOT NULL,
	[nombre_sucursal] [nvarchar](50) NULL,
	[nombre_region] [nvarchar](50) NULL,
	[nombre_comuna] [nvarchar](50) NULL,
	[nombre_ciudad] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_TIEMPO]    Script Date: 28/7/2020 23:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TIEMPO](
	[id_tiempo] [nvarchar](50) NOT NULL,
	[mes] [int] NULL,
	[año] [int] NULL,
 CONSTRAINT [PK_D_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_VENDEDOR]    Script Date: 28/7/2020 23:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_VENDEDOR](
	[id_vendedor] [int] NOT NULL,
	[nombre_vendedor] [nvarchar](50) NULL,
	[tipo_capacitacion] [nvarchar](50) NULL,
	[hora_capacitacion] [int] NULL,
 CONSTRAINT [PK_D_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_VENTA]    Script Date: 28/7/2020 23:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_VENTA](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [nvarchar](50) NULL,
	[id_sucursal] [int] NULL,
	[id_cliente] [nvarchar](50) NULL,
	[id_vendedor] [int] NULL,
	[id_tiempo] [nvarchar](50) NULL,
	[cantidad_venta] [int] NULL,
	[monto_venta] [int] NULL,
 CONSTRAINT [PK_H_VENTA] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[D_CLIENTE] ([id_cliente], [nombre_cliente], [edad], [estado_civil]) VALUES (N'CLI00001', N'RayÚn  Vßsquez', 26, N'Casado')
INSERT [dbo].[D_CLIENTE] ([id_cliente], [nombre_cliente], [edad], [estado_civil]) VALUES (N'CLI00002', N'Amparo  Reyes', 30, N'Viudo')
INSERT [dbo].[D_CLIENTE] ([id_cliente], [nombre_cliente], [edad], [estado_civil]) VALUES (N'CLI00003', N'Josefa  Donoso', 43, N'Soltero')
GO
INSERT [dbo].[D_PRODUCTO] ([id_producto], [nombre_producto], [familia_producto]) VALUES (N'PLT0001', N'Aquilea', N'Asteraceae')
INSERT [dbo].[D_PRODUCTO] ([id_producto], [nombre_producto], [familia_producto]) VALUES (N'PLT0002', N'Adonis', N'Ranunculaceae')
INSERT [dbo].[D_PRODUCTO] ([id_producto], [nombre_producto], [familia_producto]) VALUES (N'PLT0003', N'Casta±odeindias', N'Hippocastanaceae')
GO
INSERT [dbo].[D_SUCURSAL] ([id_sucursal], [nombre_sucursal], [nombre_region], [nombre_comuna], [nombre_ciudad]) VALUES (1, N'Sucursal Arica', N'ARICA', N'ARICA', N'ARICA')
INSERT [dbo].[D_SUCURSAL] ([id_sucursal], [nombre_sucursal], [nombre_region], [nombre_comuna], [nombre_ciudad]) VALUES (2, N'Sucursal Iquique', N'IQUIQUE', N'IQUIQUE', N'IQUIQUE')
INSERT [dbo].[D_SUCURSAL] ([id_sucursal], [nombre_sucursal], [nombre_region], [nombre_comuna], [nombre_ciudad]) VALUES (3, N'Sucursal Antofagasta', N'ANTOFAGASTA', N'ANTOFAGASTA', N'ANTOFAGASTA')
GO
INSERT [dbo].[D_VENDEDOR] ([id_vendedor], [nombre_vendedor], [tipo_capacitacion], [hora_capacitacion]) VALUES (1, N'Demian  Escobar', N'Capacitaci¾n Semipresencial', 10)
INSERT [dbo].[D_VENDEDOR] ([id_vendedor], [nombre_vendedor], [tipo_capacitacion], [hora_capacitacion]) VALUES (2, N'Julieta  JimÚnez', N'Capacitaci¾n Online', 98)
INSERT [dbo].[D_VENDEDOR] ([id_vendedor], [nombre_vendedor], [tipo_capacitacion], [hora_capacitacion]) VALUES (3, N'Le¾n  Riquelme', N'Capacitaci¾n En Sucursal', 40)
GO
ALTER TABLE [dbo].[H_VENTA]  WITH NOCHECK ADD  CONSTRAINT [FK_H_VENTA_D_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[D_CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_CLIENTE]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH NOCHECK ADD  CONSTRAINT [FK_H_VENTA_D_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[D_PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_PRODUCTO]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH NOCHECK ADD  CONSTRAINT [FK_H_VENTA_D_SUCURSAL] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[D_SUCURSAL] ([id_sucursal])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_SUCURSAL]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH NOCHECK ADD  CONSTRAINT [FK_H_VENTA_D_TIEMPO] FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[D_TIEMPO] ([id_tiempo])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_TIEMPO]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH NOCHECK ADD  CONSTRAINT [FK_H_VENTA_D_VENDEDOR] FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[D_VENDEDOR] ([id_vendedor])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_VENDEDOR]
GO
USE [master]
GO
